.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .hero-top {
    .hero-top-title {
      //font-size: 5vw;
      margin: 0;
    }
  }

  .hero-mid {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 40%;
  }

  .hero-bottom {

    display: flex;
    font-weight: 500;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;

    .hero-bottom-left, .hero-bottom-mid {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
      gap: 8px;
    }

    .hero-bottom-mid {
      .hero-subtitle {
        text-align: justify;
      }
    }

    .hero-title {
      margin: 0;
      text-align: end;
    }

  }
}

.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/src/assets/svg/star-s.svg);
}

.star, header #stars::before, header #stars::after {
  animation: star ease-in-out 2s infinite alternate;
  will-change: transform
}

@keyframes star {
  0% {
    transform: none
  }
  100% {
    transform: scale(0.55)
  }
}


@media screen and (max-width: 600px) {
  .hero {
    .hero-top {
      .hero-top-title {
        font-size: 16vw;
        text-align: left;
      }
    }

    .hero-mid {
    }

    .hero-bottom {
      justify-content: flex-end;

      .hero-title {
        font-size: 16vw;
      }

      .hero-bottom-left, .hero-bottom-mid {
        display: none;
      }

      .hero-bottom-mid {
        .hero-subtitle {
        }
      }
    }
  }

}