.hero-title {
  font-size: 10.625vw;
  font-weight: 300;
  width: 100%;
  text-align: center;

  span {
    font-weight: 400;
  }
}


.hero-subtitle {
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
}