#progress {
  position: absolute;
  user-select: none;
  width: max-content;
  line-height: 120%;
  left: -50px;
  top: -10px;
  color: black;
  z-index: 1000000;
  pointer-events: none;
  mix-blend-mode: exclusion;
  filter: invert(100%);
  font-size: 1.414rem;
}

.font-sec {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}